<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_panda">
    
    <!-- 1. 引入宏定义 -->
    <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro" />
    <xacro:include filename="$(find franka_description)/robots/hand.xacro" />

    <!-- 2. 地基 Link -->
    <link name="base_link" />

    <!-- 定义两臂间距 -->
    <!-- 增大两臂间距，让双臂更舒展 -->
    <xacro:property name="arm_distance" value="0.7" />

    <!-- ==================== 左臂 (Left Arm) ==================== -->
    <!-- safety_distance 必须设为 0，否则简化模型会自碰撞 -->
    <!-- 左臂初始姿态更舒展，手腕旋转角度更自然 -->
    <xacro:panda_arm arm_id="panda_left" connected_to="base_link"  xyz="0 ${arm_distance} 0" rpy="0 0 0" safety_distance="0"/>
    <xacro:hand ns="panda_left" rpy="0 0 -0.5" connected_to="panda_left_link8" safety_distance="0"/>

    <!-- ==================== 右臂 (Right Arm) ==================== -->
    <!-- 右臂初始姿态更舒展，手腕旋转角度更自然 -->
    <xacro:panda_arm arm_id="panda_right" connected_to="base_link" xyz="0 -${arm_distance} 0" rpy="0 0 0" safety_distance="0"/>
    <xacro:hand ns="panda_right" rpy="0 0 -0.5" connected_to="panda_right_link8" safety_distance="0"/>

</robot>
